html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}.coontainer{
    z-index: -10;
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: rgb(27, 27, 149);
    color: white;
    font-size: larger;
    font-weight: bold;
    position: fixed;
}.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}.logo{
    padding: 25px;
}.lists{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 10px;
    cursor: pointer;
    padding-right: 40px;
}.navbar,a{
    color: white;
    text-decoration: none;
}
.navbar,ul,li{
    display: flex;
    text-transform: capitalize;
    list-style-type: none;
    padding-left: 25px;
}

/*canva section */
.canvas{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}#img{
    background-image: url(./img/img1.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.hero{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top-left-radius: 20px;
    background-color: blue;
}.card{
    display: flex;
    text-align: center;
    height: fit-content;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    /* padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    background-color: rgba(69, 69, 159, 0.953);
    color: #fff;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: cursive;
    box-shadow: -5px 5px 0px 1px rgba(12, 3, 50, 0.851);
}